<div id="pageInfo" class="d-flex flex-column mx-3 mt-3 rounded-4 bg-secondary bg-opacity-10 p-2">
    <h1 class="text-primary display-5 fw-bold">INFORMACION</h1>
    <label class="form-label fst-italic fw-bold">Número de procesadores presentes: {{numCPUs}}</label>
    <label class="form-label fst-italic fw-bold">Argumentos de entrada: {{argumentoEntrada}}</label>
    <label class="form-label fst-italic fw-bold">Nombre de la plataforma (sistema operativo): {{sistemaOperativo}}</label>
    <label class="form-label fst-italic fw-bold">Versión de node.js: {{nodeVersion}}</label>
    <label class="form-label fst-italic fw-bold">Memoria total reservada (rss): {{memoriaTotal}}</label>
    <label class="form-label fst-italic fw-bold">Path de ejecución: {{pathEjecucion}}</label>
    <label class="form-label fst-italic fw-bold">Process id: {{processId}}</label>
    <label class="form-label fst-italic fw-bold mb-3">Carpeta del proyecto: {{carpetaProyecto}}</label>
    <div>
        <button class="btn btn-success mx-3 mb-3" onclick="location.href='/login'" id="failLogin">Volver</button>    
    </div>
</div>